nav.color {
    background-color: #d4a598;

}
.navbar-trans {
    background: transparent;
}
a.nav-link {
    font-family: font_nav;
    font-size: 25px;
    color: white;
}

a.nav-link:hover {
    color: black;
}

a.navbar-brand {
    font-size: 25px;
    color: white;
}

a.navbar-brand:hover {
    font-size: 25px;
    color: white;
    text-decoration: underline;
}
.font{
    font-family: font_nav;
}
@font-face {
    font-family: "font_nav";
    src: url("../fonts/font_nav.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}