body {
    background-image: url("../images/books10.png");
    background-size: 100%;
    background-attachment: fixed;
    overflow-y: scroll;
}
h1.hello{
    font-family: font_nav;
    color: white;
    margin-left: 40px;
    margin-top: 130px;
}

@font-face {
font-family: "font_nav";
src: url("../fonts/font_nav.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
