body {
    background-size:  100%;
    background-attachment: fixed;
    overflow-y: scroll;
}
div.wrapper{
    margin: auto ;
    width: 50%;
}
div.form{
    margin: 30px;
    padding: 30px;
    border-radius: 5px;
    background-color: white;
    border-color: white;
}
.butt{
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #d4a598;
    color: white;
    border: 3px solid ;
    border-radius: 10px;
}
.butt:hover{
    background-color: white;
    color: #d4a598;
    border-color: #d4a598;
}
.postPlace{
    background-color: white;
    padding: 40px;
    margin-bottom: 30px;
}
.post{
    background-color: white;
    padding: 60px;
    margin-bottom: 40px;
    margin-top: 40px;
}
.comment{
    background-color: white;
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
    border-radius: 10px;
}
.picture {
    width: 100%;
    object-fit: contain;
    margin-bottom: 10px;
}
.photo{
    width: 400px;
    margin: auto;

}
.more{
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    color: #d4a598;
    border-color: #d4a598;
    border: 3px solid;
    border-radius: 20px;
}
.more:hover{
    background-color: #d4a598;
    color: white;
    border-color: #d4a598;
}
.icon{
    background-color: transparent;
    color: grey;
    border: transparent;
}
.icon:hover{
    color: #d4a598;
}
.like{
    font-size: x-large;
    display: inline-block;
}
.part{
    margin: 10px;
    padding: 10px;
    padding-top: 0px;
}
.border{
    border: 2px solid black;
}
.spoiler.disabled .descr-text {
    display: none;
}
.descr-button {
    color: grey;
    margin: 20px;
    cursor: pointer;
}
.marg{
    margin-left: 40px;
    margin-right: 70px;
}
.button{
    margin: 30px;
    padding: 20px;
    width: 300px;
    border: 2px solid #d4a598;
    border-radius: 10px;
    background-color: transparent;
    color: #d4a598;
    font-size: large;
}
.button:hover{
    background-color: #d4a598;
    color: white;
}


