h3.choose {
    font-family: font_nav;
    color: black;
    margin-top: 30px;
}
button.topic{
    margin: 40px;
    background: transparent;
    border: transparent;
    color: grey;
    padding: 10px;
}
button.topic:hover{
    color: #d4a598;
}

h5.topic{
    margin-top: 20px;
    color: black;
}

@font-face {
    font-family: "font_nav";
    src: url("../fonts/font_nav.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}